.App {
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.bg1 {
    background-image: url(./assets/images/bg1.jpg);
}

.bg2 {
    background-image: url("./assets/images/bg2.jpg");
}

.bg3 {
    background-image: url("./assets/images/bg3.jpg");
}

.bg4 {
    background-image: url("./assets/images/bg4.jpg");
}

.bg5 {
    background-image: url(./assets/images/fortuna2-3.webp);
}

.bg6 {
    background-image: url("./assets/images/fortuna2-1.webp");
}

.bg7 {
    background-image: url("./assets/images/fortuna2-2.webp");
}

.bg8 {
    background-image: url("./assets/images/fortuna2-4.webp");
}

